 
 html{
  scroll-behavior: smooth;
 }
 .navbar {
    overflow: hidden;
    background-color: #242323;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
    z-index: 999;
  }
  
  .navbar a {
    float: right; 
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
  }

  .logo img{
    margin-left: 20px;
    padding: 0;
    width:25%;
    
  }
  
  /* On hover, the links will change color */
  .navbar a:hover {
    background-color: #fab146;
    color: black;
  }
  .navbar a.active{
    background-color: #fab146;
    color: black;
  }


  .img1{
    width: 100%; 
    height: 700px; 
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url("home.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
  }
  .img1 h1{
    margin: 0%;
    color: #ddd;
    text-align: center;
    padding-top: 22%;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .img1 h3{
    text-align: center;
    color:#ddd;
  }

  .au{
    margin-top: 5%;
    display: flex; 
    justify-content: space-between;
    scroll-margin:inherit;
  }
  .abus{
    margin-top: 7%;
    width:47%;
    margin-left: 5%;
  }
  .abus h1{
    font-size: 50px;
    background-color: #fab146;
    width:30%;
    text-align: center;
    border-radius: 20px;
  }
  .abus p{
    margin-top:8% ;
    font-size: 30px;
  }
  .au img{
    margin-top: 5%;
    float:right;
  }
  .ser{
    background-color: #619fad;
    padding-top: 1px;
    margin-top: 7%;
  }

  .ser h1{
    /* padding-top: 10px; */
    margin-top: 7%;
    width:15%;
    margin-left: 5%;
    font-size: 50px;
    background-color: #fab146;
    text-align: center;
    border-radius: 20px;
    
  } 
  .serimg{
    margin-top: 6%;
  }
  .ser>.serimg{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  .serimg img{
    margin-top: 6%;
    padding: 10px;
    padding-right: 40px;
  }

  .i1 h4{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
  }

  .i1 p{
    width:60%;
    padding-left: 60px;
    text-align: justify;
  }

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */
.l {
   margin-top: 10%;
   height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("logobg.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.container {
    height: 700px;
    width: 500px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter:blur(3px);
    box-shadow: 0 0 20px rgb(43, 43, 43);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    background-color: rgb(240, 240, 240);
    box-shadow: 10px 10px 30px rgba(49, 48, 46, 0.7);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    #c2c232 ,
    #fab146);
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}
.moveslider {
    left: 250px;
}
.form-section {
    height: 500px;
    width: 1000px;
    padding-top: 20px;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}
.form-section-move {
    left: -500px;
}
.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    overflow-y: auto;
}
.signup-box::-webkit-scrollbar { 
    display: none;
}
.login-box {
    gap: 50px;
}
 
.signup-box {
    gap: 40px;
}
.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}
.signup-box select{
  height: 60px;
    width: 435px;
}
.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
              #c2c232 ,
            #fab146);
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.errorMessage{
  /* background-color: rgb(240, 240, 240); */
  color: red;
  font-size: 22px;
  border-radius: 50px;
  padding: 10px;
}

@media screen and (max-width: 650px) {
    .container {
        height: 900px;
        width: 400px;
    }
 
    .title {
        font-size: 15px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
 
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
 
    .moveslider {
        left: 150px;
    }
 
    .form-section {
        height: 700px;
        width: 600px;
    }
 
    .form-section-move {
        left: -300px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 300px;
    }
 
    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
 
@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
 
    .heading {
        font-size: 30px;
    }
 
    .title {
        font-size: 10px;
    }
 
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
 
    .login,
    .signup {
        font-size: 19px;
    }
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
 
    .moveslider {
        left: 127px;
    }
 
    .form-section {
        height: 500px;
        width: 500px;
    }
 
    .form-section-move {
        left: -250px;
    }
 
    .login-box,
    .signup-box {
        height: 100%;
        width: 250px;
    }
 
    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }
 
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}